
<div class="mctnx">
  <div class="soraddl dlone">
    <div class="sorattl collapsible">
      <h3>Episode {{ .Get 0 }}</h3>
    </div>
    <div class="content">


      <div class="soraurl">
        <div class="res">720p</div>
        <div class="slink">
          <a href="https://{{ .Get 1 }}" target="_blank" rel="nofollow noopener noreferrer">Google Drive</a>
          <a href="https://{{ .Get 1 }}" target="_blank" rel="nofollow noopener noreferrer">AceFile</a>
          <a href="https://{{ .Get 0 }}" target="_blank" rel="nofollow noopener noreferrer">GDrive</a>
        </div>
      </div>
      
  <div class="soraurl">
        <div class="res">480p</div>
        <div class="slink">
          <a href="https://{{ .Get 1 }}" target="_blank" rel="nofollow noopener noreferrer">Google Drive</a>
          <a href="https://{{ .Get 1 }}" target="_blank" rel="nofollow noopener noreferrer">AceFile</a>
          <a href="https://{{ .Get 0 }}" target="_blank" rel="nofollow noopener noreferrer">GDrive</a>
        </div>
      </div>

