
<style type="text/css">

.aniFilz{display:inline-block;max-width:100%;margin:auto;overflow:hidden;width:100%;font-size:13px;color:#333}.aniFilz .aniMage{width:190px;height:246px;padding:1px;float:left;margin-right:10px;box-sizing:border-box}.aniInfo li,.aniInfo ul{list-style:none;padding:0;margin:0}.aniInfo li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:22px}.aniInfo li b{display:block;float:left;width:95px;color:#000}.aniInfo li b:after{content:': ';float:right;margin-right:3px}.aniSinoc p{line-height:25px;padding:5px 0;margin:0 0 10px}@media only screen and (max-width:767px){.aniFilz .aniMage{width:30%;height:auto;float:none;display:block;margin:auto}}

</style>


{{.Inner}}